<div class="container mt-4">
  <div class="row">
    <h1>{{textoJar}}</h1>
    <button class="btn btn-primary" (click)="changeVariable()">¡Cambia!</button>
    <input type="text" class="form-control" placeholder="Escribe aquí, si necesitas un café" [(ngModel)]="textoJar2">
    <p>{{textoJar2}}</p>
    <h2>Mi nombre es {{nombre}}</h2>
    <h4>El resultado de sumar 3 y 4 es: {{3+4}}</h4>
    <h4>5 es menor que 7: {{5<=7 ? "Esto es cierto" : "Esto no es cierto" }}</h4>
        <!--Se pone un condicional ternario ? "texto a mostrar" : "texto a mostrar" para mostrar algo que entienda el usuario en vez de un booleano true/false-->
        <h4>20 es mayor que 48: {{20>=48 ? "Esto es cierto" : "Esto no es cierto"}}</h4>
        <h3>El resultado de la suma es {{sumaNumeral(10,15)}} ... {{resultadoSuma}}</h3>
        <h3>El resultado de la suma entre {{numero1}} y {{numero2}} es {{sumaNumeral(numero1,numero2)}} ...
          {{resultadoSuma}}</h3>
        <img [src]="image" />
        <input type="text" class="form-control" [placeholder]="textPlaceholder" [disabled]="deshabilitado">
        <table class="table" *ngIf="estudiantes.length>0">
          <thead>
            <tr>
              <th scope="col">Número</th>
              <th scope="col">Nombre</th>
              <th scope="col">Estado</th>
            </tr>
          </thead>
          <tbody>
            <!-- SWITCH -> Se va a usar para darle estilo a cada uno de los estados -->
            <tr *ngFor="let estudiante of estudiantes, let i=index" [ngSwitch]="estudiante.estado">
              <th>{{i+1}}</th>
              <td>{{estudiante.nombre}}</td>
              <td>
                <span *ngSwitchCase="'aprobado'" class="badge bg-success">{{estudiante.estado}}</span>
                <span *ngSwitchCase="'suspendido'" class="badge bg-danger">{{estudiante.estado}}</span>
                <span *ngSwitchCase="'no apto'" class="badge bg-primary">{{estudiante.estado}}</span>
                <span *ngSwitchCase="'becado'" class="badge bg-info">{{estudiante.estado}}</span>
              </td>
              <!-- <td [ngStyle]="{'font-style':estudiante.estado == 'aprobado'?'italic':'bold'}">{{estudiante.estado}}</td> -->
            </tr>
          </tbody>
        </table>
  </div>
</div>
